flutter/
configstore/
.DS_Store

BraveSoftware/
Electron/
clipse/
dconf/
discord/
dlv/
flutter/
github-copilot/
go/
gtk-*/
htop/
lazygit/
menus/
neofetch/
obs-*/
pulse/
rofi/
waybar_*/
yay/
kwalletrc

*.env
*.log
*.log.*
zsh/.config/zsh/modules/tokens.zshrc
