/*
.widget .label {} -> Global label for all
.active-window-widget {} -> Styles specific to the active window widget
.clock-widget {} -> Styles specific to the clock widget
.cpu-widget {} -> Styles specific to the CPU widget
.memory-widget {} -> Styles specific to the memory widget
.weather-widget {} -> Styles specific to the weather widget
.komorebi-workspaces {} -> Styles specific to komorebi workspaces
.komorebi-active-layout {} -> Styles specific to komorebi active layout
.volume-widget {} -> Styles specific to the volume widget 
.apps-widget {} -> Styles specific to the apps widget
.power-menu-widget {} -> Styles for the power menu button widget
.power-menu-popup {} -> Styles for the power menu popup widget
.power-menu-popup > .button {} -> Styles for power buttons inside the popup 
.power-menu-popup > .button > .icon,
.power-menu-popup > .button > .label {} -> Styles for power buttons icons and labels inside the popup 
.media-widget {} -> Styles specific to the media widget
.github-widget {} -> Styles specific to the github widget
*/
* {
	font-size: 12px;
	color: #cdd6f4;
	font-weight: 500;
	font-family: "JetBrainsMono NFP";
	margin: 0;
	padding: 0;
}

.yasb-bar {
	padding: 4px 8px;
	margin: 0;
	/* background-color: rgba(146, 145, 155, 0.16); */
	background-color: #11111b;
}

.widget {
	padding: 0 6px;
	margin: 0;
}

.container-left,
.container-center,
.container-right {
	margin: 0;
	padding: 0;
}

.active-window-widget .icon {
	margin-right: 8px;
}

.komorebi-active-layout .label {
	font-weight: 600;
	padding: 2px 0 0 0;
}

.komorebi-workspaces .widget-container {
	background-color: rgba(188, 195, 207, 0.178);
	margin: 4px 0;
	border-radius: 12px;
}

.komorebi-workspaces .ws-btn {
	font-size: 14px;
	background-color: transparent;
	margin: 0 4px 0 4px;
	color: #95a0ad;
	padding: 0;
}

.komorebi-workspaces .ws-btn.populated {
	color: #a0c3ee;
}

.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated:hover,
.komorebi-workspaces .ws-btn.active {
	color: #c2daf7;
}

/*POWER MENU WIDGET*/
/* Uptime text */
.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: #ffffff;
	font-weight: 600;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.power-menu-widget .label {
	color: #f38ba8;
	font-size: 13px;
}

.power-menu-popup {
	background-color: rgba(24, 24, 37, 0.9);
	border-radius: 12px;
	border: 4px solid rgb(41, 42, 58);
}

.power-menu-popup .button {
	padding: 0;
	width: 240px;
	height: 120px;
	border-radius: 8px;
	background-color: rgb(41, 42, 58);
	font-family: "SegoeUI";
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.1);
	margin: 8px;
}

.power-menu-popup .button.hover {
	background-color: rgb(55, 56, 75);
	border: 1px solid rgb(55, 56, 75);
}

.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.95);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.power-menu-popup .button .icon {
	font-size: 48px;
	padding-top: 8px;
	color: rgba(255, 255, 255, 0.25);
}

.power-menu-popup .button.cancel .icon {
	color: rgba(243, 139, 168, 0.55);
}

.power-menu-popup .button.cancel .label {
	color: rgba(243, 139, 168, 0.95);
}

.power-menu-popup .button.shutdown .icon {
	color: rgba(137, 180, 250, 0.55);
}

.power-menu-popup .button.shutdown .label {
	color: rgba(137, 180, 250, 0.95);
}

/* ICONS */
.icon {
	font-size: 16px;
}

.memory-widget .icon,
.volume-widget .icon,
.weather-widget .icon,
.wifi-widget .icon,
.cpu-widget .icon,
.memory-widget .icon,
.battery-widget .icon,
.github-widget .icon {
	font-size: 14px;
	/* color: #cba6f7; */
}

/* Wifi */
.wifi-widget {}

.wifi-widget .widget-container {}

.wifi-widget .widget-container .label {}

.wifi-widget .widget-container .label.alt {
	margin-left: 4px;
}

.wifi-widget .widget-container .icon {}

.weather-widget .icon.sunnyDay {
	color: rgb(221, 210, 107);
}

.weather-widget .icon.clearNight {
	color: rgb(107, 189, 221);
	font-size: 22px;
	margin: 1px 2px 0px 0;
}

/* MEDIA WIDGET */
.media-widget {
	padding: 0;
	padding-left: 2px;
	margin: 0;
	border-radius: 16px;
	margin-right: 8px;
}

.media-widget .label {
	background-color: rgba(0, 0, 0, 0.0);
}

.media-widget .btn {
	color: #acb2c9;
	padding: 0 3px;
	margin: 4px 0;
	font-family: Segoe Fluent Icons;
}

.media-widget .btn:hover {
	color: #89b4fa;
}

.media-widget .btn.play {
	background-color: rgba(188, 195, 207, 0.178);
	border-radius: 12px;
	font-size: 14px;
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: #4e525c;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0);
}

/* Taskbar */
.taskbar-widget {
	padding: 0;
	margin-left: 4px;
	background-color: #1e1e2e;
	border-radius: 8px
}

.taskbar-widget .app-icon {
	padding: 0 4px;
	margin: 2px 0;
	border-radius: 4px;
}

.taskbar-widget .app-icon::hover {
	background-color: #313244;
}

.taskbar-widget .app-icon.foreground {
	background-color: rgba(137, 180, 250, 0.3);
}

/* Traffic */
.traffic-widget {
	min-width: 75px;
	max-width: 75px;
}

.traffic-widget .widget-container {}

.traffic-widget .label {
	font-size: 10px;
}

.traffic-widget .label.alt {}

.traffic-widget .icon {}

/* Battery */
.battery-widget {}

.battery-widget .widget-container {}

.battery-widget .widget-container .label {}

.battery-widget .widget-container .label.alt {
	margin-left: 4px;
}

.battery-widget .widget-container .icon {}

.battery-widget .widget-container .label.status-low {}

.battery-widget .widget-container .label.status-medium {}

.battery-widget .widget-container .label.status-high {}

.battery-widget .widget-container .label.status-full {}

.battery-widget .widget-container .label.status-charging {}

.battery-widget .widget-container .icon.status-low {}

.battery-widget .widget-container .icon.status-medium {}

.battery-widget .widget-container .icon.status-high {}

.battery-widget .widget-container .icon.status-full {}

.battery-widget .widget-container .icon.status-charging {}

/* Volume */
.volume-widget {}

.volume-widget .widget-container {}

.volume-widget .label {}

.volume-widget .icon {}

/* Volume Menu */
.volume-slider {
	border: none;
}

.volume-slider::groove {}

.volume-slider::handle {}

.audio-menu {
	background-color: rgba(17, 17, 27, 0.4);
}

.audio-container .device {
	background-color: transparent;
	border: none;
	padding: 6px 8px 6px 4px;
	margin: 2px 0;
	font-size: 12px;
	border-radius: 4px;
}

.audio-container .device.selected {
	background-color: rgba(255, 255, 255, 0.085);
}

.audio-container .device:hover {
	background-color: rgba(255, 255, 255, 0.06);
}

/* Memory */
.memory-widget {
	min-width: 30px;
}

.memory-widget .widget-container {}

.memory-widget .label {
	font-size: 10px;
}

.memory-widget .label.alt {
	font-size: 10px;
}

.memory-widget .icon {}

.memory-widget .label.status-low {}

.memory-widget .label.status-medium {}

.memory-widget .label.status-high {}

.memory-widget .label.status-critical {}

/* CPU */
.cpu-widget {
	min-width: 30px;
}

.cpu-widget .widget-container {}

.cpu-widget .widget-container .label {
	font-size: 10px;
}

.cpu-widget .widget-container .label.alt {
	font-size: 14px;
}

.cpu-widget .widget-container .icon {}

/* Media */
.media-widget {
	background-color: #1e1e2e;
	padding-right: 5px;
	padding-left: 10px;
}

.media-widget .widget-container {}

.media-widget .label {
	font-size: 10px;
	margin-right: 2px;
}

.media-widget .label.alt {}

.media-widget .btn.play {}

.media-widget .btn.prev {}

.media-widget .btn.next {}

.media-widget .btn.disabled {}

/* Systray */
.systray {
	background-color: #1e1e2e;
	border-radius: 8px;
}

.systray .unpinned-container {}

.systray .pinned-container {}

.systray .pinned-container[forceshow=true] {
	background: red;
}

.systray .button {
	border-radius: 4px;
	padding: 1px 0;
}

.systray .button:hover {
	background: #585b70;
}

.systray .button[dragging=true] {
	background: #fab387;
}

.systray .unpinned-visibility-btn {
	border-radius: 4px;
	height: 20px;
	width: 16px;
}

.systray .unpinned-visibility-btn:checked {}

.systray .unpinned-visibility-btn:hover {
	background-color: #313244;
}

/* Apps */
.apps-widget {}

.apps-widget .widget-container {}

.apps-widget .widget-container .label {
	font-size: 14px;
	padding: 0 1px;
	margin: 3px 0;
	border-radius: 4px;
}

.apps-widget .widget-container .label::hover {
	background-color: #313244;
}

/* Github */
.github-widget {}

.github-menu .widget-container .icon {}

.github-widget .widget-container {}

.github-widget .widget-container .label {}

.github-menu {
	background-color: rgba(17, 17, 27, 0.2);
	max-height: 500px;
	min-height: 500px;
	min-width: 420px;
}

.github-menu .header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 15px;
	font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 8px;
	color: white;
	background-color: rgba(17, 17, 27, 0.75);
}

.github-menu .footer {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 12px;
	padding: 4px 8px 6px 8px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #9399b2;
	background-color: rgba(17, 17, 27, 0.75);
}

.github-menu .contents {
	background-color: rgba(17, 17, 27, 0.2);
}

.github-menu .contents .item {
	min-height: 40px;
	padding: 6px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}

.github-menu .contents .item:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.github-menu .contents .item .title,
.github-menu .contents .item .description {
	color: #9399b2;
	font-family: Segoe UI;
}

.github-menu .contents .item .title {
	font-size: 14px;
	font-weight: 600;
}

.github-menu .contents .item .description {
	font-size: 12px;
	font-weight: 500
}

.github-menu .contents .item.new .title,
.github-menu .contents .item.new .description {
	color: #ffffff
}

.github-menu .contents .item .icon {
	font-size: 16px;
	padding-right: 0;
	padding-left: 8px;
	padding-right: 4px;
	color: #9399b2;
}

.github-menu .contents .item.new .icon {
	color: #3fb950;
}

/* Home */
.home-widget {
	/* padding: 0 4px 0 12px; */
	margin: 2px 0;
	border-radius: 4px;
}

.home-widget::hover {
	background-color: #313244;
}

.home-widget .icon {}

.home-widget .icon:hover {

	color: #89b4fa;
}

.home-menu {
	background-color: #181825;
}

.home-menu .menu-item {
	padding: 6px 48px 7px 16px;
	font-size: 12px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--text);
	font-weight: 600;
}

.home-menu .menu-item:hover {
	background-color: #313244;
	color: #89b4fa;
}

.home-menu .separator {
	max-height: 1px;
	background-color: rgba(128, 130, 158, 0.3);
}

/* Clock */
.clock-widget {}

.clock-widget .widget-container {}

.clock-widget .widget-container .label {
	font-size: 12px;
}

.clock-widget .widget-container .label.alt {}

.clock-widget .widget-container .icon {}

/* Calendar */
.calendar {
	background-color: rgba(17, 17, 27, 0.4);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
	background-color: rgba(17, 17, 27, 0);
	color: rgba(162, 177, 196, 0.85);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.calendar .calendar-table::item:selected {
	color: rgb(255, 255, 255);
}

.calendar .day-label {
	margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	min-width: 180px;
	max-width: 180px;
}

.calendar .month-label {
	font-weight: normal;
}

.calendar .date-label {
	font-size: 88px;
	font-weight: 900;
	color: rgb(255, 255, 255);
	margin-top: -20px;
}